{% extends "base.html" %}
{% load static wagtailcore_tags%}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}



{% endblock extra_css %}

{% block content %}
<div class="contacts center">
    {% for block in page.body %}
         {% if block.block_type == 'office' %}
    <div class="contacts__block_left">
        <h2 class="contacts__heading">{{ block.value.heading_1|safe }}</h2>
        <p class="contacts__text">{{ block.value.address|safe }}</p>
    </div>

    {% elif block.block_type == 'phone' %}
<div class="contacts__block_right">
    <h2 class="contacts__heading">{{ block.value.heading_2 }}</h2>
    <a href="#"> <p class="contacts__text"> {{ block.value.phone_number }}</p> </a>
    {% else %}
    <h2 class="contacts__heading">{{ block.value.heading_3 }}</h2>
    <a href="mailto:info@flamingstove.ru"> <p class="contacts__text"> {{ block.value.e_address }}</p> </a>
</div>
    {% endif %}
    {% endfor %}

</div>

{% endblock content %}
