<footer class="footer">
            <div class="center">
                <div class="footer__block">
                    <form class="footer__subscribe" action="#">
                        <svg class="footer__subscribe_logo" width="137" height="287" viewBox="0 0 137 287" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M2.33543 148.4C-16.2149 76.8497 81.8354 34.4497 81.8354 34.4497C59.857 50.3497 24.38 91.6897 58.3 129.85C100.7 177.55 126.571 209.35 81.8354 286.2C81.8354 286.2 84.4843 246.45 65.9343 225.25C47.3843 204.05 8.65804 172.786 2.33543 148.4Z" fill="#DCAD3A"/>
                            <path d="M116.6 95.4C98.0512 50.35 143.101 31.8 135.15 0C135.15 8.48 113.951 31.8 95.4011 45.05C47.7012 76.85 55.6506 111.3 71.5511 132.5C108.651 172.25 117.484 203.167 111.3 214.65C153.7 174.37 132.5 127.2 116.6 95.4Z" fill="#DCAD3A"/>
                        </svg>
                        <input type="text" placeholder="Ваше имя">
                        <input type="tel" placeholder="Ваш номер телефона">
                        <a href="#" name="footer__button" class="footer__subscribe__button button" type="submit">Заказать звонок</a>
                        <p class="footer__subscribe_text">Отправляя запрос через форму, вы соглашаетесь с <a href="#"><span>политикой конфиденциальности</span></a></p>
                    </form>
                    <div class="footer__left">
                        <nav class="footer__left_nav">
                            <a class="footer__left_link" href="index.html">Главная</a>
                            <a class="footer__left_link" href="blog.html">Блог</a>
                            <a class="footer__left_link" href="contacts.html">Контакты</a>
                            <a class="footer__left_link" href="#">Портфолио</a>
                            <a class="footer__left_link" href="questions.html">Вопросы</a>
                            <a class="footer__left_link" href="#">Документы</a>
                        </nav>
                    </div>
                    <div class="footer__right">
                        <a href="index.html"><img src="img/logo_white.svg" alt="Flaming Stove"></a>
                        <p class="footer__right_text">Москва</p>
                        <a class="footer__right_phone" href="tel:+79300000000">+7 (930) 000 00 00</a>
                    </div>
                </div>
                <div class="footer__left_bottom">
                    <a class="copyright" href="#">Политика конфиденциальности</a>
                    <p class="copyright">Все права защищены. 2021</p>
                </div>
            </div>
        </footer>